@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');

body,
.aboutBlock{
    font-family: Antonio, Arial, Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 140;
    color: #FFFF99;
    background-color: #0D131A;
}
.aboutBlock{
    max-width: 120ch;
}

a{
    color: #212529;
    font-weight: bold;
    font-style: italic;
}



header,
footer{
    color: #FFFF99;
}

footer{
    border-top: solid 2px #FFFF99;
}
.headerTitle{
color: #FF9933;
}

.headerLogo{
max-width: 100px;
}

.navbar{
    border-bottom: solid 2px #ffff99;
}

.introCard{
    background-color: #99CCFF;
    color: #0D131A;
    max-width: 120ch;
}

.linkCard{
    background-color: #FF9933;
    color: #0D131A;
    border: 2px solid #FF9933;
}
a.footerLink:link{
    color:#FF9933
}

a.footerLink:hover{
    color:#993300
}

/* Section for Card 2 */
table{
    border-collapse: separate;
    border: 2px solid #FF9933 ;
    width: 100%;
    border-spacing: 0;
    border-radius: 10px;

}
tr{
    display: flex;
    width: 100%;
}

th, td{
    flex:1;
    text-align: left;
    border: 1px solid #0D131A;
}
td{
     background-color: #FF9966;
     color: #0D131A;
}   
th{
     background-color: #FFCC66;
     color: #0D131A;
}   

caption{
    caption-side: bottom;
    font-style: italic;
    color: #FFCC66;
}

/* Comparison cards for Card 2*/
.comparison{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    gap: 1rem;
}

.compareCard{
    flex: 2;
    padding: 10px;
    margin: 3px;
    background-color: #99CCFF;
    color: #0D131A;
    border: 2px solid #99CCFF;
    border-radius: 10px;
}

.articleheader{
    padding: 10px;
    margin: 3px;
    background-color: #FF9900;
    color: #0D131A;
    border: 2px solid #FF9900;
    border-radius: 10px;
    width: 90%;
    text-align: center;
}

.compareImage{
    max-width: 100%;
}

/* Data Card on Slide show */
.dataCard{
    background-color: #FF9966;
    border: 2px solid #FF9966;
    color: #0D131A;
}

/*Styles specifically for the 'About me' page*/
.aboutPara{
    max-width: 120ch;
}

/* Contact Form Styles */
.inputData{
    background-color: #ffff99;
    border: 1px solid #6789ac;
}

.contactForm{
    max-width: 600px;
}
.sendButton{
    background-color: #FF9900;
}
.sendButton:hover, .sendButton:focus{
    background-color: #ffff99;
    color: #0D131A;
    border: 3px solid #FF9900;
}

@media (max-width: 768px) {
    .comparison{
        display: flex;
        flex-direction: column;
    }
    .compareImage{
        max-width: 50%;
    }

    .compareCard{
        background-color: #FF9900;
        border: 2px solid #FF9900;
        border-radius: 10px;
    }
}