/* Import Google Fonts; Antonio

Star Trek Okudagram coloiur Scheme:
The Classic TNG Era Palette (The "Okudagram" Yellows &Tans)
The early seasons of TNG relied heavily on warm earth tones, golds, andmuted purples. Digital design archives like
The LCARS Color Guide
and datapackages like
trekcolors
break down these specific hexadecimalvalues:
Neon Carrot / LCARS Orange:
#FF9933
— The classic bright operationalbutton color.

Atomic Tangerine / Mango:
#FF9900 or #FF9966
— Used for structuralpanel headers.

Golden Tanoi / Beige:
#FFCC66
— The dominant background block shadefor stable menus.

Pale Canary / Yellow:
#FFFF99
— Used for active text readouts andhighlighted indicators.

Anakiwa / Light Blue:
#99CCFF
— Frequently used for secondarytelemetry readouts.
*/ 
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com');

body,
.aboutBlock{
    font-family: Antonio, Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #FFFF99;
    background-color: #0D131A;
}

header,
footer{
    color: #0D131A;
}
.headerTitle{
color: #FF9933;
}

.headerLogo{
max-width: 100px;
}

.navbar{
    border-bottom: solid 2px #ffff99;
}

.introCard{
    background-color: #99CCFF;
    color: #0D131A;
}

.linkCard{
    background-color: #FFFF99;
    color: #0D131A;
    border: 2px solid #FFFF00;
}
a.footerLink:link{
    color:#FF9933
}

a.footerLink:hover{
    color:#993300
}

/* Section for Card 2 */
table{
    border-collapse: separate;
    border: 2px solid #FF9933 ;
    width: 100%;
    border-spacing: 0;
    border-radius: 10px;

}
tr{
    display: flex;
    width: 100%;
}

th, td{
    flex:1;
    text-align: left;
    border: 1px solid #0D131A;
}
td{
     background-color: #FF9966;
     color: #0D131A;
}   
th{
     background-color: #FFCC66;
     color: #0D131A;
}   

caption{
    caption-side: bottom;
    font-style: italic;
    color: #FFCC66;
}

/* Comparison cards for Card 2*/
.comparison{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: top;
    gap: 1rem;
}

.compareCard{
    flex: 2;
    padding: 10px;
    margin: 3px;
    background-color: #99CCFF;
    color: #0D131A;
    border: 2px solid #99CCFF;
    border-radius: 10px;
}

.compareImage{
    max-width: 100%;
}

/* Data Card on Slide show */
.dataCard{
    background-color: #FF9966;
    border: 2px solid #FF9966;
    color: #0D131A;
}

/* Contact Form Styles */
.inputData{
    background-color: #ffff99;
    border: 1px solid #6789ac;
}

.contactForm{
    max-width: 600px;
}
.sendButton{
    background-color: #FF9900;
}
@media (max-width: 768px) {
    .comparison{
        display: flex;
        flex-direction: column;
    }
    .compareImage{
        max-width: 50%;
    }

    .compareCard{
        background-color: #FF9900;
        border: 2px solid #FF9900;
        border-radius: 10px;
    }
}